@model SecureAuth.Sdk.MultiFactorOption

<div class="form-group select2fa">
    <div class="input-group">
        <span class="input-group-addon otplabel" id="basic-addon3"><strong>Answer KBQ:&nbsp;</strong></span>
        <label class="form-control" aria-describedby="basic-addon3" style="background-color:#eee;">Provide Two Answers</label>
        <span class="input-group-btn">
            <button class="btn btn-primary btn--select selectbtn" data-factorid="kbq" data-type="@Model.FactorType" data-capability="">KBQ</button>
        </span>
    </div>
</div>
