@model SecureAuth.Sdk.MultiFactorOption

<div class="form-group select2fa">
    <div class="input-group">
        <span class="input-group-addon otplabel" id="basic-addon3"><strong>Enter OTP from Device:&nbsp;</strong></span>
        @Html.LabelFor(m => m.FactorValue, Model.FactorValue, new { @class = "form-control", aria_describedby = "basic-addon3", @style="background-color:#eee;" })
        <span class="input-group-btn">
            <button class="btn btn-primary btn--select selectbtn" data-factorid="@Model.FactorId" data-type="@Model.FactorType" data-capability="">Select</button>
        </span>
    </div>
</div>
