@model SACustomAPI.Models.OtpViewModel

<div id="PINcode">
    <div class="form-horizontal" id="PINform">
        <hr />
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.Passcode, new { id = "PINbox", name = "Pinbox" })
            <br />
            <input type='button' class='PINbutton' name='1' value='1' id='1' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='2' value='2' id='2' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='3' value='3' id='3' onClick=addNumber(this); />
            <br>
            <input type='button' class='PINbutton' name='4' value='4' id='4' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='5' value='5' id='5' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='6' value='6' id='6' onClick=addNumber(this); />
            <br>
            <input type='button' class='PINbutton' name='7' value='7' id='7' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='8' value='8' id='8' onClick=addNumber(this); />
            <input type='button' class='PINbutton' name='9' value='9' id='9' onClick=addNumber(this); />
            <br>
            <input type='button' class='PINbutton clear' name='-' value='clear' id='-' onClick=clearForm(this); />
            <input type='button' class='PINbutton' name='0' value='0' id='0' onClick=addNumber(this); />
            <input type='button' class='PINbutton enter' name='+' value='enter' id='+' onClick=submitForm(); />
        </div>
    </div>
    @if (Model.canTrust)
    {
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="checkbox-inline" style="margin-top: 20px; margin-left: 30px;">
                    @Html.CheckBoxFor(m => m.isTrustedDevice)
                    @Html.LabelFor(m => m.isTrustedDevice)
                </div>
            </div>
            <div class="col-md-1"></div>
    }
</div>
<div class="form-group" style="display:none">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="hiddenSubmit" id="subPost" class="btn btn-default" />
    </div>
</div>
