@{
    ViewBag.Title = "Fraud";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6"><h2>Phone Number Verification Needed</h2></div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 jumbotron">
        <p>We have detected a recent change to the number you are trying to use for two-factor authentication. In order to verify that you still own the number you are trying to use for authentication, please click <a href="https://www.google.com">here.</a></p>
        <p>If you are unsure of why you are receiving this message, please contact customer support at: <a href="tel:1-888-555-5555">(888)555-5555</a></p>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Phone Number Ported Status Check and Fraud Prevention</h3>
            </div>
            <div class="panel-body">
                <p>SecureAuth is able to provide information about the carrier, type (landline, mobile, etc), and ported status of a phone number.</p>
                <p>Using this information, your organization can require users to go through additional steps of verification to guarantee that the user still owns the number they are using for authentication.</p>
                <p>In addition, SecureAuth allows you to block the delivery of OTP to phone numbers that fit specific type profiles, such as virtual, landline, and others. This allows you to block abuse of virtual numbers, a common attack vector for bad actors.</p>
            </div>
        </div>
    </div>
</div>
