<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Global Settings -->
        <add key="SecureAuthRealmUrl" value=""/>
        <add key="ApiID" value=""/>
        <add key="ApiKey" value=""/>
      
      
      <!-- Authentication Service Test Values -->
        <add key="AuthSvc.goodDomain" value="corporate"/>
        <add key="AuthSvc.badDomain" value="guest"/>
        <add key="AuthSvc.goodUsername" value=""/>
        <add key="AuthSvc.goodPassword" value=""/>
        <add key="AuthSvc.badUsername" value="jsmith"/>
        <add key="AuthSvc.badPassword" value=""/>
        <add key="AuthSvc.goodStaticPin" value="123456"/>
        <add key="AuthSvc.badStaticPin" value="000000"/>
        <add key="AuthSvc.goodPhoneNumber" value=""/>
        <add key="AuthSvc.goodEmailAddress" value=""/>
        
        <!-- User Service Test Values -->
        <add key="UserSvc.goodDomain" value=""/>
        <add key="UserSvc.badDomain" value="guest"/>
        <add key="UserSvc.goodUsername" value=""/>
        <add key="UserSvc.badUsername" value="jsmith"/>
        <add key="UserSvc.currentPassword" value="CurrentPassword2016"/>
        <add key="UserSvc.newPassword1" value=""/>
        <add key="UserSvc.newPassword2" value=""/>
        <add key="UserSvc.newFirstName" value="Bob"/>
        <add key="UserSvc.newLastName" value="Smith"/>
        <add key="UserSvc.newUserId" value="bsmith"/>
        <add key="UserSvc.groupName1" value=""/>
        <add key="UserSvc.groupName2" value=""/>

        <!-- Device Fingerprint Service Test Values -->
        <add key="DeviceFingerprintSvc.goodUsername1" value="jbeam"/>
        <add key="DeviceFingerprintSvc.goodUsername2" value="bsmith"/>

        <!-- Biometrics Service Test Values -->
        <add key="BehBioSvc.goodUsername" value=""/>
        <add key="BehBioSvc.fieldName" value="UserID"/>
        <add key="BehBioSvc.fieldType" value="regulartext"/>
        <add key="BehBioSvc.deviceType" value="DESKTOP"/>
        <add key="BehBioSvc.hostAddress" value="111.222.33.44"/>
        <add key="BehBioSvc.userAgent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:44.0) Gecko/20100101 Firefox/44.0"/>
        <add key="BehBioSvc.behaviorProfile" value='[["m","n",{"mozPay":null,"mozContacts":{},"mozApps":{},"doNotTrack":
       "unspecified","battery":{},"oscpu":"Intel+Mac+OS+X+10.10","vendor":"","vendorSub":"",
       "productSub":"20100101","cookieEnabled":true,"buildID":"20160210153822","mediaDevices"
       :{},"serviceWorker":{"controller":null},"geolocation":{},"appCodeName":
       "Mozilla","appName":"Netscape","appVersion":"5.0+(Macintosh)","platform":"MacIntel"
       ,"userAgent":"Mozilla/5.0+(Macintosh;+Intel+Mac+OS+X+10.10;+rv:44.0)+
       Gecko/20100101+Firefox/44.0","product":"Gecko","language":"en-US","languages"
       :["en-US","en"],"onLine":true}],["m","s",{"availWidth":1440,"availHeight":823,"width"
       :1440,"height":900,"colorDepth":24,"pixelDepth":24,"top":0,"left":0,"availTop":23,
       "availLeft":0,"mozOrientation":"landscape-primary","onmozorientationchange":null,"orientation":
       {}}],["m","v",250],["w",[{"text#UserID":7},{"password#Password":12},{"submit#Submitclick":7}
       ]],["f","text#UserID",[[0,65,14285],[0,68,14362],[1,65,14459],[0,77,14466],
       [1,68,14562],[1,77,14643],[0,73,14682],[0,78,14818],[1,73,14882],[1,78,14946],
       [0,49,15018],[1,49,15194],[0,48,15202],[1,48,15282],[0,9,15410]]],["fa","password#Password",
       [[0,0,15804],[0,1,15850],[0,2,15915],[1,0,15955],[0,3,15970],[1,1,16010],[1,2,16066],[1,3,16106],
       [0,4,16282][0,4,16411],[0,5,16459],[0,6,16530],[0,7,16586],[1,4,16634],
       [1,5,16674],[1,4,16714],[1,6,16730],[1,7,16770],[0,8,17219],[0,9,17283],[0,10,17339],
       [0,11,17395],[1,8,17426],[1,9,17434],[1,10,17466],[1,11,17498]]]]'/>

      <!-- Group Service Test Values -->
      <add key="GroupSvc.goodUserId" value=""/>
      <add key="GroupSvc.badUserId" value=""/>
      <add key="GroupSvc.groupName1" value="testdg"/>
      <add key="GroupSvc.groupName2" value="developer"/>
      <add key="GroupSvc.goodDomain" value=""/>
      <add key="GroupSvc.badDomain" value=""/>

    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
