<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Global Settings -->
        <add key="SecureAuthRealmUrl" value=""/>
        <add key="ApiID" value=""/>
        <add key="ApiKey" value=""/>

      <!-- Authentication Service Test Values -->
        <add key="AuthSvc.goodUsername" value="jbeam"/>
        <add key="AuthSvc.goodPassword" value="CurrentPassword2016"/>
        <add key="AuthSvc.badUsername" value="jsmith"/>
        <add key="AuthSvc.badPassword" value="BadPassword2016"/>
        <add key="AuthSvc.goodStaticPin" value="123456"/>
        <add key="AuthSvc.badStaticPin" value="000000"/>
        <add key="AuthSvc.goodPhoneNumber" value="2125551212"/>
        <add key="AuthSvc.goodEmailAddress" value="test@test.com"/>
        
        <!-- User Service Test Values -->
        <add key="UserSvc.goodUsername" value="jbeam"/>
        <add key="UserSvc.badUsername" value="jsmith"/>
        <add key="UserSvc.currentPassword" value="CurrentPassword2016"/>
        <add key="UserSvc.newPassword1" value="ChangePassword2016"/>
        <add key="UserSvc.newPassword2" value="ResetPassword2016"/>
        <add key="UserSvc.newFirstName" value="Bob"/>
        <add key="UserSvc.newLastName" value="Smith"/>
        <add key="UserSvc.newUserId" value="bsmith"/>
        <add key="UserSvc.groupName1" value="Group One"/>
        <add key="UserSvc.groupName2" value="Group Two"/>
    </appSettings>
</configuration>