@model SACustomAPI.Models.AuthorizedViewModel

@{
    ViewBag.Title = "Success";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6"><h2>You have been successfully authenticated!</h2></div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 jumbotron">
        You're Authenticated into your Web Application!
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Logging in with SecureAuth IdP APIs</h3>
            </div>
            <div class="panel-body">
                <p>SecureAuth provides a large set of Authentication APIs that streamlines the job of adding authentication, specifically strong authentication, into any application.</p>
                <p>For this Test Application, SecureAuth has created a basic .NET web site using the MVC (Model-View-Controller) framework. Authentication is handled by standard .NET forms authentication. Strong Authentication is handled by a custom session object which keeps track of the state is user is in during authentication, call CustomAuthorize.</p>
                <p>This example should be used as a spring board for implementation into any web application, as the concepts and API calls are all derived from well-known standards across any programing language.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">SecureAuth RESTful APIs from Authentication:</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p style="text-align: center"><strong>DFP Confirm</strong></p>
                    <p>Request:</p>
                    <pre>@Html.DisplayFor(m => m.apiJson.DfpConfirmRequest)</pre>
                    <p>Response:</p>
                    <pre>@Html.DisplayFor(m => m.apiJson.DfpConfirmResponse)</pre>
                </div>
            </div>
        </div>
    </div>
</div>
